<footer class="bg-[#f7f7f2] w-full px-2 md:px-8 pt-12 pb-6">
  <div class="max-w-8xl mx-auto flex flex-col items-center">
    <h2 class="text-lg md:text-xl font-semibold tracking-wide mb-7 text-gray-900 uppercase">
      {{ section.settings.featured_title }}
    </h2>
    <div class="flex flex-wrap flex-1 justify-center gap-[15px] md:gap-10 lg:gap-14 items-center mb-8">
      {% for block in section.blocks %}
        {% if block.type == "featured_logo" %}
          <img
            height=""
            width=""
            src="{{ block.settings.logo_image | image_url }}"
            alt="{{ block.settings.logo_alt }}"
            class="h-6 md:h-8 lg:h-10 object-contain" />
        {% endif %}
      {% endfor %}
    </div>
  </div>


  <hr class="custom-divider" />


  <div class="max-w-[1300px] mx-auto flex flex-col md:flex-row justify-between items-stretch gap-10 md:gap-40 mt-4">
    <div class="flex-1 flex flex-col gap-4 justify-center items-center md:items-baseline max-w-[450px]">
      <div>
        <h3 class="font-bold text-[20px] mb-1 text-gray-900">{{ section.settings.insta_title }}</h3>
        <span class="font-semibold text-[16px] text-[#232222]">{{ section.settings.insta_handle }}</span>
      </div>
      <div>
        <img
          height=""
          width=""
          src="{{ section.settings.insta_image | image_url }}"
          alt="{{ section.settings.insta_image_alt }}"
          class="w-[220px] h-[220px] object-cover cursor-pointer" />
      </div>
    </div>
    <div class="flex flex-col items-center md:items-baseline">
      <div>
        <h4 class="font-bold text-gray-900 text-base md:text-lg mb-3 tracking-tight">
          {{ section.settings.exp_title }}
        </h4>
        <ul class="flex flex-col items-center md:items-start gap-0.5 text-[15px] text-[#474540]">
          {% for block in section.blocks %}
            {% if block.type == "exp_link" %}
              <li>
                <a href="{{ block.settings.exp_link_url }}" class="hover:underline">{{ block.settings.exp_link_label }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div>
        <h4 class="font-bold text-gray-900 text-base md:text-lg mb-3 tracking-tight">
          {{ section.settings.learn_title }}
        </h4>
        <ul class="flex flex-col items-center md:items-start gap-0.5 text-[15px] text-[#474540]">
          {% for block in section.blocks %}
            {% if block.type == "learn_link" %}
              <li>
                <a href="{{ block.settings.learn_link_url }}" class="hover:underline">{{ block.settings.learn_link_label }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="flex-1 flex flex-col items-center md:items-center gap-5 md:gap-12">
      <div>
        <img
          height=""
          width=""
          src="{{ section.settings.logo | image_url }}"
          alt="{{ section.settings.logo_alt }}"
          class="h-20 w-auto object-contain" />
      </div>
      <div class="flex gap-3 mt-1">
        {% for block in section.blocks %}
          {% if block.type == "social_icon" %}
            <a
              href="{{ block.settings.social_url }}"
              target="_blank"
              rel="noopener">
              <img
                height=""
                width=""
                src="{{ block.settings.social_icon | image_url }}"
                alt="{{ block.settings.social_alt }}"
                class="h-8 w-8" />
            </a>
          {% endif %}
        {% endfor %}
      </div>
      <span class="text-[18px] mt-10 md:mt-32 text-[#59594f] font-medium">
        {{ section.settings.copyright }}
      </span>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Custom Footer Section",
    "settings": [
      {
        "type": "text",
        "id": "featured_title",
        "label": "Featured In Title",
        "default": "FEATURED IN"
      },
      {
        "type": "text",
        "id": "insta_title",
        "label": "Instagram CTA Title",
        "default": "FOLLOW US ON INSTAGRAM"
      },
      {
        "type": "text",
        "id": "insta_handle",
        "label": "Instagram Handle",
        "default": "@hausofbloomsaloon"
      },
      {
        "type": "image_picker",
        "id": "insta_image",
        "label": "Instagram Image"
      }, {
        "type": "text",
        "id": "insta_image_alt",
        "label": "Instagram Image Alt",
        "default": "Salon Instagram"
      }, {
        "type": "text",
        "id": "exp_title",
        "label": "Experience Title",
        "default": "HAUS OF BLOOM EXPERIENCE"
      }, {
        "type": "text",
        "id": "learn_title",
        "label": "Learn More Title",
        "default": "LEARN MORE"
      }, {
        "type": "image_picker",
        "id": "logo",
        "label": "Brand Logo"
      }, {
        "type": "text",
        "id": "logo_alt",
        "label": "Logo Alt Text",
        "default": "Haus of Bloom Logo"
      }, {
        "type": "text",
        "id": "copyright",
        "label": "Copyright",
        "default": "©2025 Haus of Bloom"
      }
    ],
    "blocks": [
      {
        "type": "featured_logo",
        "name": "Featured Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "logo_image",
            "label": "Logo Image"
          }, {
            "type": "text",
            "id": "logo_alt",
            "label": "Logo Alt Text"
          }
        ]
      }, {
        "type": "exp_link",
        "name": "Experience Link",
        "settings": [
          {
            "type": "text",
            "id": "exp_link_label",
            "label": "Link Label"
          }, {
            "type": "url",
            "id": "exp_link_url",
            "label": "Link URL"
          }
        ]
      }, {
        "type": "learn_link",
        "name": "Learn More Link",
        "settings": [
          {
            "type": "text",
            "id": "learn_link_label",
            "label": "Link Label"
          }, {
            "type": "url",
            "id": "learn_link_url",
            "label": "Link URL"
          }
        ]
      }, {
        "type": "social_icon",
        "name": "Social Icon",
        "settings": [
          {
            "type": "image_picker",
            "id": "social_icon",
            "label": "Social Icon Image"
          }, {
            "type": "text",
            "id": "social_alt",
            "label": "Alt Text"
          }, {
            "type": "url",
            "id": "social_url",
            "label": "Social Link URL"
          }
        ]
      }
    ],
    "max_blocks": 30,
    "presets": [
      {
        "name": "Custom Footer - Multi Logo"
      }
    ]
  }
{% endschema %}